@charset "utf-8";

.explanation {
    justify-content: center;
    font-size: large;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
}

.omikuji {
    font-size: large;
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    /*justify-content: center;*/
}